* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "IBM Plex Sans";
}

.wrapper {
  width: 1170px;
  margin: 0 auto;
  /* padding-left: 150px; */
}

menu {
  display: flex;
  height: 102px;
}

.logo {
  margin-top: 30px;
  margin-right: 331px;
  margin-bottom: 29px;
}

menu ul {
  list-style-type: none;
  display: flex;
}

menu li {
  margin: 44px 30px 48px;
  font-weight: 400;
  font-size: 15px;
}

.glav li:hover {
  border: 1px solid black;
  border-left: 0px;
  border-right: 0px;
}

.project {
  display: flex;
}

.project_text {
  text-align: left;
}

.gray_text {
  color: gray;
  font-weight: 300;
  font-size: 64px;
  line-height: 64px;
  margin-top: 336px;
}

.black_text {
  color: black;
  font-weight: 700;
  font-size: 64px;
  line-height: 64px;
}

.img_home {
  padding-left: 69px;
}

.left {
  border: 1 solid red;
}

.arrow {
  display: flex;
}

.arrow1 {
  height: 55px;
  width: 55px;
  background-color: #ffffff;
  border: #666666 solid 1px;
  margin-top: 90px;
}

.arrow1:hover {
  background-color: #f2f2f2;
}

.arrow2 {
  height: 55px;
  width: 55px;
  background-color: #ffffff;
  border: #666666 solid 1px;
  margin-left: 23px;
  margin-top: 90px;
}

.arrow2:hover {
  background-color: #f2f2f2;
}

.arrow3 {
  margin-left: 15px;
  margin-top: 15px;
}

.container {
  position: relative;
  width: 50%;
}

.btn a {
  font-weight: 400;
  line-height: 12px;
}

a {
  text-decoration: none;
  color: black;
}

.container .btn {
  position: absolute;
  padding-top: 30px;
  padding-bottom: 19px;
  padding-right: 60px;
  background-color: white;
  color: black;
  font-size: 14px;
  border: none;
  margin-top: 304px;
  padding-left: 360px;
}

.container .btn:hover {
  background-color: white;
}

.about_company {
  margin-top: 120px;
  display: flex;
  height: 435px;
  width: 1170px;
  justify-content: center;
  background: #fbfbfb;
}

.about_company_img {
  display: flex;
}

.about_company_txt {
  text-align: left;
  margin: 30px 70px 121px 30px;
}

.img1 {
  margin: 30px 30px 140px 100px;
}

.img2 {
  margin: 60px 0px 30px 0px;
}

.img3 {
  padding-top: 30px;
}

.about_company_p {
  font-weight: 300;
  font-size: 64px;
  line-height: 64px;
  color: #bdbdbd;
  padding-bottom: 20px;
}

.about_company_p p {
  font-weight: 300;
  font-size: 16px;
  line-height: 25px;
}

.about_company_txt .btn2 {
  position: absolute;
  padding-top: 30px;
  padding-bottom: 29px;
  padding-right: 60px;
  padding-left: 60px;
  background-color: white;
  color: black;
  font-size: 12px;
  border: none;
  margin-top: 20px;
}

.about_company_txt .btn2:hover {
  background-color: white;
}

.main_goals {
  margin-top: 150px;
}

.main_1_2 {
  display: flex;
}

.header_main_goals {
  font-weight: 300;
  font-size: 64px;
  line-height: 64px;
  color: #BDBDBD;
  /* padding-bottom: 60px; */

}

.number1 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 200px;
  line-height: 239px;
  color: #F2F2F2;

}

.p1 {
  font-weight: 400;
  font-size: 22px;
  line-height: 36px;
  margin-top: 60px;
  padding-right: 187px;
  padding-left: 30px;
}

.number2 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 200px;
  line-height: 239px;
  color: #F2F2F2;
}

.p2 {
  font-weight: 400;
  font-size: 22px;
  line-height: 36px;
  margin-top: 60px;
  padding-left: 30px;
}


/*ПЕРЕДЕЛАТЬ*/


.our_projects .header {
  font-style: normal;
  font-weight: 300;
  font-size: 64px;
  line-height: 64px;
  color: #BDBDBD;
  margin-bottom: 60px;
  /*поменять*/
}




.ssd {
  text-align: center;

}

.dls {
  text-align: center;

}

.k_1 {
  justify-content: center;
  display: flex;
}

.k_2 {
  justify-content: center;
  display: flex;
}

.block_1 {
  overflow: hidden;
  position: relative;
  margin-right: 50px;
  background-size: cover;
}

.block_2 {
  position: absolute;
  visibility: hidden;
  left: 1px;
  background: rgba(0, 0, 0, 0.4392156862745098);
  font-size: 50px;
  font-weight: 600;
  padding-top: 30px;
  padding-left: 20px;
  color: white;
  width: 570px;
  height: 225px;
  top: 160px;
}

.block_1:hover .block_2 {
  visibility: visible;
  transform: translatey(-160px);
  -webkit-transform: translatey(-160px);
}


.block_3 {
  overflow: hidden;
  position: relative;
  margin-right: 50px;
  background-size: cover;
  
}

.block_4 {
  position: absolute;
  visibility: hidden;
  left: 1px;
  background: rgba(0, 0, 0, 0.4392156862745098);
  font-size: 35px;
  font-weight: 600;
  padding-top: 30px;
  padding-left: 20px;
  color: white;
  width: 270px;
  height: 255px;
  top: 160px;
}

.block_3:hover .block_4 {
  visibility: visible;
  transform: translatey(-160px);
  -webkit-transform: translatey(-160px);
}


.block_5 {
  width: 470px;
  height: 255px;
  overflow: hidden;
  position: relative;
  margin-left: 20px;
  background-size: cover;
}

.block_6 {
  position: absolute;
  visibility: hidden;
  left: 1px;
  background: rgba(0, 0, 0, 0.4392156862745098);
  font-size: 50px;
  font-weight: 600;
  padding-top: 30px;
  padding-left: 20px;
  color: white;
  width: 470px;
  height: 255px;
  top: 160px;
}

.block_5:hover .block_6 {
  visibility: visible;
  transform: translatey(-160px);
  -webkit-transform: translatey(-160px);
}

.dls1 {
  margin-bottom: 10px;
  font-weight: 100;
  text-decoration: none;
  font-size: 30px;
}


.block_7 {
  width: 370px;
  height: 255px;
  overflow: hidden;
  position: relative;
  margin-left: 20px;
  background-size: cover;
}

.block_8 {
  position: absolute;
  visibility: hidden;
  background: rgba(0, 0, 0, 0.4392156862745098);
  font-size: 50px;
  color: white;
  padding-top: 30px;
  font-weight: 600;
  padding-left: 20px;
  width: 370px;
  height: 255px;
  top: 160px;
}

.dls {
  color: #FFFFFF;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  margin-bottom: 10px;
  font-weight: 100;
  text-decoration: none;
  font-size: 30px;
}

.block_7:hover .block_8 {
  visibility: visible;
  transform: translatey(-160px);
  -webkit-transform: translatey(-160px);
}

.ss3 {
  height: 75px;
  width: 170px;
  background-color: #ffffff;
  border: #666666 solid 1px;
  margin-left: 310px;
  margin-top: 90px;
  display: flex;
}

.link_readg {
  background-color: #020202;
  color: rgb(255, 255, 255);
  font-size: 16px;
  padding: 25px 50px;
  text-decoration: none;
}

.dsds {
  margin-top: 50px;
}



/* СВЯЗАТЬСЯ С ВАМИ */


.text_ptr {
  padding-top: 150px;
  font-weight: 300;
  font-size: 70px;
  color: #969696;
  padding-bottom: 20px;
}

.telefon {
  display: flex;
}

.text1 {
  height: 35px;
  width: 355px;
  padding: 5px;
  margin: 3px;
  background: rgba(243, 243, 243, 1);
  border: #ffffff solid 1px;
  padding-left: 20px;
}

.text2 {
  height: 35px;
  width: 355px;
  padding: 5px;
  margin: 3px;
  background: rgba(243, 243, 243, 1);
  border: #ffffff solid 1px;
  padding-left: 20px;
}

.text3 {
  height: 35px;
  width: 355px;
  padding: 5px;
  margin: 3px;
  background: rgba(243, 243, 243, 1);
  border: #ffffff solid 1px;
  padding-left: 20px;
}

.text4 {
  height: 35px;
  width: 355px;
  padding: 5px;
  margin: 3px;
  background: rgba(243, 243, 243, 1);
  border: #ffffff solid 1px;
  padding-left: 20px;
}

.text5 {
  height: 35px;
  width: 355px;
  padding: 5px;
  margin: 3px;
  background: rgba(243, 243, 243, 1);
  border: #ffffff solid 1px;
  padding-left: 20px;
  padding-bottom: 110px;
}

.foto_telefon {
  margin-left: 30px;
}

.otvecnost {
  padding: 10px;
  font-size: 14px;
}

.ayay {
  color: #333333;
}

.link_readg2 {
  background-color: #020202;
  color: rgb(255, 255, 255);
  font-size: 16px;
  padding: 25px 50px;
  text-decoration: none;
}

.dsds2 {
  margin-top: 30px;
  padding-bottom: 150px;
}

/*ДО ЭТОГО МОМЕНТА*/








.footer {
  display: flex;
  background: #2C2C2C;
  height: 417px;
  margin-top: 50px;
}

.footer_logo {
  margin: 58px 250px;
}

.footer_info_txt {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}

.footer_info a:link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  text-decoration: none;
}

.info {
  margin: 58px 200px 0px 0px;

}

.info p {
  padding-bottom: 25px;
}

.contact {
  margin: 58px 200px 0px 0px;
}

.contact p {
  padding-bottom: 25px;
}

.social_network {
  margin: 58px 0px 0px 0px;
}

.social_network p {
  padding-bottom: 26px;
}

.social_icon img {
  padding-right: 42px;
}

footer a {
  text-decoration: none;
  color: #fbfbfb;

}

.footer_info_txt {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}


.boot {
  background: #2C2C2C;
  text-align: center;
}

.boot p {
  padding: 24px;
  font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 22px;
color: rgba(200, 200, 200, 0.396);
}

.line {
  border-bottom: 1px solid white;
  opacity: 0.1;
}
