* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "IBM Plex Sans";
}

.wrapper {
  width: 1410px;
  margin: 0 auto;
  padding-left: 150px;
}

menu {
  display: flex;
  height: 102px;
}

.logo {
  margin-top: 30px;
  margin-right: 331px;
  margin-bottom: 29px;
}

ul {
  list-style-type: none;
  display: flex;
}

li {
  margin: 44px 30px 48px;
  font-weight: 400;
  font-size: 15px;
}

.glav li:hover {
  border: 1px solid black;
  border-left: 0px;
  border-right: 0px;
}

a {
  text-decoration: none;
  color: black;
}

.heading {
  padding-top: 63px;
  padding-bottom: 30px;
}

.gray_text {
  color: gray;
  font-weight: 300;
  font-size: 64px;
  line-height: 64px;
}

.black_text {
  color: black;
  font-weight: 700;
  font-size: 64px;
  line-height: 64px;
}


.img_main {
  margin-top: 60px;
}

.photo_text {
  display: flex;
  margin-top: 30px;
}

.text_main {
  width: 721px;
  margin-left: 30px;
  font-weight: 300;
  font-size: 16px;
  line-height: 25px;
}

.img_under {
  margin-top: 30px;
}

.button_next {
  display: flex;
}

.str {
  margin-top: 10px;
  font-weight: 400;
  font-size: 24px;
  margin-right: 30px;
  color: #333333;
}

.str1 {
  margin-top: 10px;
  font-weight: 400;
  font-size: 24px;
  margin-right: 30px;
  color: #BDBDBD;
}

.str2 {
  margin-top: 10px;
  font-weight: 400;
  font-size: 24px;
  color: #BDBDBD;
}


.footer {
  display: flex;
  background: #2C2C2C;
  height: 417px;
  margin-top: 50px;
}

.footer_logo {
  margin: 58px 250px;
}

.footer_info_txt {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}

.footer_info a:link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  text-decoration: none;
}

.info {
  margin: 58px 200px 0px 0px;

}

.info p {
  padding-bottom: 25px;
}

.contact {
  margin: 58px 200px 0px 0px;
}

.contact p {
  padding-bottom: 25px;
}

.social_network {
  margin: 58px 0px 0px 0px;
}

.social_network p {
  padding-bottom: 26px;
}

.social_icon img {
  padding-right: 42px;
}

footer a {
  text-decoration: none;
  color: #fbfbfb;

}

.footer_info_txt {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}


.boot {
  background: #2C2C2C;
  text-align: center;
}

.boot p {
  padding: 24px;
  font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 22px;
color: rgba(200, 200, 200, 0.396);
}

.line {
  border-bottom: 1px solid white;
  opacity: 0.1;
}